<svg xmlns="http://www.w3.org/2000/svg"
     class="board"
     [attr.viewBox]="getViewBox().toSVGString()"
     [attr.transform]="rotation"
     preserveAspectRatio="xMidYMid meet">
    <rect [attr.x]="getViewBox().left"
          [attr.y]="getViewBox().up"
          [attr.width]="getViewBox().width"
          [attr.height]="getViewBox().height"
          fill="purple"
    />
    <g #board
       [attr.transform]="getBoardTransform()">
        <g *ngFor="let coordAndContent of constructedState.getCoordsAndContents()">
            <rect id="square-{{ coordAndContent.coord.x }}-{{ coordAndContent.coord.y }}"
                  (click)="onClick(coordAndContent.coord)"
                  [attr.x]="SPACE_SIZE * coordAndContent.coord.x"
                  [attr.y]="SPACE_SIZE * coordAndContent.coord.y"
                  [attr.width]="SPACE_SIZE"
                  [attr.height]="SPACE_SIZE"
                  [ngClass]="getRectClasses(coordAndContent.coord)"
                  class="base"
            />
            <circle *ngIf="coordAndContent.content !== PlayerOrNone.NONE"
                    id="piece-{{ coordAndContent.coord.x }}-{{ coordAndContent.coord.y }}"
                    (click)="onClick(coordAndContent.coord)"
                    [attr.r]="(SPACE_SIZE / 2) - STROKE_WIDTH"
                    [attr.cx]="(SPACE_SIZE * coordAndContent.coord.x) + (SPACE_SIZE / 2)"
                    [attr.cy]="(SPACE_SIZE * coordAndContent.coord.y) + (SPACE_SIZE / 2)"
                    [ngClass]="getPieceClasses(coordAndContent.coord)"
                    class="base"
            />
            <g *ngFor="let player of Player.PLAYERS"
               id="throne-{{ player.toString() }}">
                <g *ngIf="getState().thrones.get(player).equalsValue(coordAndContent.coord)">
                    <polygon [attr.transform]="getTranslationAt(getState().thrones.get(player).get())"
                             points="0 0, 100 100, 0 100, 100 0, 50 0, 50 100, 0 100, 0 50, 100 50, 100 0"
                             class="base"/>
                </g>
            </g>
        </g>
        <g *ngIf="isDroppingGroup"
           id="drop-validator"
           (click)="validateGroupDrop()"
           [attr.transform]="getTranslationAtXY(9, 9)">
            <circle [attr.cx]="STROKE_WIDTH / 2"
                    [attr.cy]="STROKE_WIDTH / 2"
                    [attr.r]="SPACE_SIZE / 2"
                    fill="red"
                    class="base-no-fill mid-stroke"
                    [ngClass]="getGroupDropValidationButtonClasses()"/>
            <polygon points="-32.5,-2.5 -32.5,12.5 -10,35 -2.5,35 35,-21.25 25,-21.275 -5,25 -32.5,-2.5"
                     fill="green"
                     class="base-no-fill mid-stroke"/>
        </g>
    </g>
</svg>
